<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <!-- Header-->
    <header>
        {{>navbar}}
        <div class="header-content">
            <div>
                <h1>
                    More Productive with DoIT
                </h1>
                <p>Keep tracking all of the tasks that you do everyday</p>
                <p><button class="btnStarted">Get Started</button></p>
            </div>
            <div>
                <img src="../image/bg_about2.png" alt="" width="100%">
            </div>
        </div>
    </header>

    <!-- end of header -->

    <section class="about">
        <div>
            <img src="../image/procrastinate10.png" alt="" width="100%">
        </div>
        <div class="about_content">
            <h2>We are the solution to your <span>Procrastinate.</span>
                Make your own tasks and start Do IT</h2>
            <p><button class="btnNonFilled">Sign Up</button></p>
        </div>
    </section>
    {{>footer}}
    <script src="./js/index.js"></script>
</body>

</html>