<nav>
    <div class="nav-wrapper">

        <a href="/" class="logo">DoIT <span class="free">Free</span></a>
        {{!-- font awesome menu bar --}}
        <span><img src="../image/hamburger.png" alt="" width="60px" class='fa-bars'></span>

        <span class="nav-content">
            <span>
                <span>
                    <i class="fas fa-times fa-2x" style="color:#fff"></i>
                    <a href="/">Home</a>
                    <a href="#">About</a>
                    <a href="/signup" class='btnSignUp'>Sign Up</a>
                </span>
            </span>
        </span>
    </div>

</nav>