<nav>
    <a href="/" class="logo">DoIT <span class="free">Free</span></a>
    {{!-- font awesome menu bar --}}
    <i class="fas fa-bars fa-2x"></i>
    <span class="nav-content">
        <span>
            <span>
                <i class="fas fa-times fa-2x" style="color:#fff"></i>
                <a href="/">Home</a>
                <a href="#">About</a>
                <a href="#" class='btnSignUp'>Sign Up</a>
            </span>
        </span>
    </span>
</nav>