/* -----=----------------Global----------- */
*{
    margin:0px;
    padding:0px;
    font-size:100%;
}
body{
    font-family: 'Roboto', sans-serif;
}


h1,h2{
    font-size: 40px;
    color:#13ABFF;
}
p{
    font-size:20px;
    color:#13ABFF;
}
.btnStarted{
    padding:10px 20px;
    background:#13ABFF;
    color:#fff;
    border:none;
    box-shadow: 0px 3px 5px rgba(104,104,104,0.8);
    margin-top:1em;
    cursor: pointer;
    transition: 0.5s linear;
    border: 2px solid #13ABFF;
    font-weight:bolder;
}

.btnStarted:hover{
    background:none;
    color:#13ABFF;
}
.btnNonFilled{
    padding:10px 20px;
    color:#13ABFF;
    border:none;
    box-shadow: 0px 3px 5px rgba(104,104,104,0.8);
    margin-top:1em;
    cursor: pointer;
    transition: 0.5s linear;
    border: 2px solid #13ABFF;
    font-weight:bolder;
    background:none;
}
.btnNonFilled:hover{
    background:#13ABFF;
    color:#fff;
}

/* -----------header-------------- */


nav{
    padding:0 5%;
    width: 80%;
    text-align: right;
    padding:20px 20px;
    margin: 0 auto;
    position: fixed;
    top:0;
   
}
nav .fa-bars, nav .fa-times{
    display: block;
    cursor: pointer;
}


nav .nav-content{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
nav .nav-content > span{
    background: rgba(24,39,51,0.85);
    border-radius: 50%;
    width:200vw;
    height:200vw;
    display: flex;
    flex: none;
    align-items:center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.5s ease;
    z-index: 100;

}
nav .nav-content >span > span{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
nav .nav-content > span > span > a {
    display: block;
    color:#fff;
    padding:1rem;
}
.logo{
    float: left;
    color:#000;
}
nav a{
    text-decoration: none;
    padding:0 20px;
    font-size: 20px;
    color: #121212;
    transition: 0.5s linear;
    font-weight: 700;
}

nav .free{
    background:#13ABFF;
    padding:5px 20px;
    color:#fff;
    border-radius: 1000px;
}

.btnSignUp{
    background: #13ABFF;
    padding:10px ;
    border-radius: 1000px;
    color:#fff;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content div:nth-child(1){
    text-align: center;
    width: 50%;
  
}
.header-content div:nth-child(1) h1{
    color:#13ABFF;
}

/* ---------------about-------------- */
.about{
    display: flex;
    align-items:center;
    justify-content: center;
}
.about .about_content span{
    text-decoration:line-through;
}

/* -----footer----- */
footer{
    padding:30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer a {
    text-decoration:none;
    font-size:1em;
    color:#13ABFF;
    padding:10px;
}


/* -----------------Responsive--------------- */
 /* Global */
 @media(max-width:800px){
    h1,h2{
        font-size:25px;
    }
    nav .fa-bars, nav .fa-times{
        display: block;
    }
    
  
    nav .nav-content{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }
    nav .nav-content > span{
        background: rgba(24,39,51,0.85);
        border-radius: 50%;
        width:200vw;
        height:200vw;
        display: flex;
        flex: none;
        align-items:center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.5s ease;
        z-index: 100;

    }
    nav .nav-content >span > span{
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    nav .nav-content > span > span > a {
        display: block;
        color:#fff;
        padding:1rem;
    }
    
    .header-content{
        flex-direction: column;
    }
    .header-content div:nth-child(1){
        width: 100%;
        text-align: center;
        padding-top:10em;
        margin-bottom: 1em;
    }
    /* end of the header */

    /* -----About----- */
    .about{
        flex-direction: column;
    }
    .about .about_content{
        text-align:center;
    }
    footer{
        flex-direction: column;
    }

 }